Repository eidellev/adonis-stardust: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,d.ts}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

chore(readme): updated readme
  README.md
Due: prettier --write

feat(client): implemented `current` and `isCurrent`
  client/Stardust.ts
  package-lock.json
  package.json
  providers/StardustProvider.ts
Due: eslint --fix, prettier --write

chore: fixed README typos
  README.md
Due: prettier --write

fix: export the correct type for stardust
  client/index.ts
Due: eslint --fix

Notes added by 'git notes add'
  2b87eb3bb167b2a1667fc8030528ed1cbaadb0d4
Due: none

feat(ssr): use `globalThis` to support SSR
  client/Stardust.ts
  client/index.ts
  providers/StardustProvider.ts
  test/StardustProvider.spec.ts
Due: eslint --fix

Notes added by 'git notes add'
  6d1ea9f14279a349a78f78b04e671d0ab5964d5b
Due: none

feat(csp): automatically add nonce to the routes script
  providers/StardustProvider.ts
Due: eslint --fix

test(csp): added tests
  test/StardustProvider.spec.ts
Due: eslint --fix

Notes added by 'git notes add'
  aaf8ef9876ef4ee4550b09e2f4f37d64c119218a
Due: none

fix(ssr): missing pathname in ssr
  README.md
  adonis-typings/index.ts
  adonis-typings/stardust-middleware.ts
  client/Stardust.ts
  middleware/Stardust.ts
  package.json
  providers/StardustProvider.ts
Due: eslint --fix, prettier --write

feat(client): separated client code into the `client` directory
  .eslintignore
  .eslintrc.json
  .gitignore
  buildClient.js
  client/.eslintrc.json
  package-lock.json
  package.json
  src/.eslintrc.json
  src/client/Stardust.ts
  src/client/UrlBuilder.ts
  src/client/index.ts
  src/tsconfig.json
  test/Stardust.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(readme): updated readme
  README.md
  package-lock.json
Due: prettier --write

Notes added by 'git notes add'
  ce1867922fb81d21c649589653cdefcaed7b7a74
Due: none

feat: prioritize GET routes on Stardust.current and Stardust.isCurrent
  providers/StardustProvider.ts
  src/client/Stardust.ts
  src/client/UrlBuilder.ts
Due: eslint --fix

feat: update tests
  test/Stardust.spec.ts
  test/StardustProvider.spec.ts
Due: eslint --fix
