Repository eidellev/adonis-stardust: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: additional setup
  README.md
  adonis-typings/context.ts
  adonis-typings/index.ts
  adonis-typings/inertia.ts
  adonis-typings/request.ts
  adonis-typings/route.ts
  package.json
  providers/InertiaProvider/InertiaProvider.ts
  providers/InertiaProvider/StardustProvider.ts
  providers/InertiaProvider/index.ts
  test/data.spec.ts
  test/rendering.spec.ts
  test/utils.ts
  test/validation.spec.ts
  test/versioning.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: implemented `@routes()` tag
  providers/InertiaProvider/StardustProvider.ts
Due: eslint --fix

feat(client): implemented basic route resolution
  client/.eslintrc.json
  client/stardust.ts
  package.json
  providers/StardustProvider/StardustProvider.ts
  providers/StardustProvider/index.ts
Due: eslint --fix, prettier --write

feat: separated `routes` declaration from initialization
  client/stardust.ts
  providers/StardustProvider/StardustProvider.ts
  providers/StardustProvider/index.ts
Due: eslint --fix

chore: added global types + cleanup
  client/stardust.ts
Due: eslint --fix

chore: removed instructions file
  instructions.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: added readme
  README.md
Due: prettier --write

feat(route): addded support for query parameters
  client/stardust.ts
Due: eslint --fix

chore: updated readme
  README.md
Due: prettier --write

1.1.0
  package-lock.json
  package.json
Due: prettier --write

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor: update client implementation to match AdonisJS backend router
  client/stardust.ts
  providers/StardustProvider/StardustProvider.ts
Due: eslint --fix

refactor: improvements to query string to allow array of values
  client/stardust.ts
  providers/StardustProvider/StardustProvider.ts
Due: eslint --fix

refactor: separate node and browser output and use esbuild for browser build
  package-lock.json
  package.json
  providers/StardustProvider.ts
  providers/StardustProvider/index.ts
Due: eslint --fix, prettier --write

refactor: rename routes to stardust
  client/stardust.ts
Due: eslint --fix

refactor: add types field back
  package.json
Due: prettier --write

chore: upgraded dependencies
  .github/workflows/release.yml
  client/@types/global.d.ts
  client/UrlBuilder.ts
  client/index.ts
  client/stardust.ts
  client/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test(provider): added basic tests
  package-lock.json
  package.json
  providers/StardustProvider.ts
  test/StardustProvider.spec.ts
  test/utils.ts
Due: eslint --fix, prettier --write

test(client): added some basic tests
  client/stardust.ts
  package-lock.json
  test/Stardust.spec.ts
  test/StardustProvider.spec.ts
Due: eslint --fix, prettier --write

chore: removed unused image file
  invoke.gif
Due: none

refactor: refactored client code structure
  client/@types/global.d.ts
  client/Stardust.ts
  client/index.ts
  client/tsconfig.json
Due: eslint --fix, prettier --write

test(coverage): temporarily reduced coverage thresholds
  .nycrc.json
Due: prettier --write

fix: fixed the browser main file
  package.json
Due: prettier --write

test: fixed failing tests
  package-lock.json
  test/StardustProvider.spec.ts
  test/utils.ts
Due: eslint --fix, prettier --write

refactor: moved esbuild config to a build script
  buildClient.js
  package.json
Due: prettier --write

chore: updated README
  README.md
Due: prettier --write

Notes added by 'git notes add'
  4320b6a29cffc966ba1cf17cbb1138a0c1d7ed07
Due: none

chore: fixed README typos
  README.md
Due: prettier --write

fix: export the correct type for stardust
  client/index.ts
Due: eslint --fix

feat(client): implemented `current` and `isCurrent`
  client/Stardust.ts
  package-lock.json
  package.json
  providers/StardustProvider.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,d.ts}
  prettier --write: any of: *.{json,md}
